In [76]:
#import dependences
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import os
import pandas as pd

In [77]:
#chromedriver
browser = Browser('chrome', headless=False)

In [78]:
#Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 

url = 'http://mars.nasa.gov/news/'
browser.visit(url)

In [79]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

headline = soup.find('div', class_='list_text')
print(headline)

<div class="list_text"><div class="list_date">April 11, 2019</div><div class="content_title"><a href="/news/8427/curiosity-tastes-first-sample-in-clay-bearing-unit/" target="_self">Curiosity Tastes First Sample in 'Clay-Bearing Unit'</a></div><div class="article_teaser_body">This new region on Mars might reveal more about the role of water on Mount Sharp.</div></div>

In [80]:
#collect the latest News Title and Paragraph Text.
title = headline.find('div', class_='content_title').text
paragraph = headline.find('div', class_='article_teaser_body').text

In [81]:
#print the latest News Title and Paragraph Text.
print(title)
print(paragraph)

Curiosity Tastes First Sample in 'Clay-Bearing Unit'
This new region on Mars might reveal more about the role of water on Mount Sharp.

In [82]:
#Find Visit the url for JPL Featured Space Image
url_2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_2)

In [83]:
#buttonclick
clickbutton = browser.find_by_id('full_image').click()

In [84]:
#Use splinter to navigate the site and find the image url for the current 

link_found_splinter = browser.find_link_by_partial_text('more info').click()

In [85]:
#Use BSoup to scrape image
html = browser.html
soup_1 = BeautifulSoup(html, 'html.parser')

featured_image_url = soup_1.find('figure', class_='lede').a.img
print("https//www.jpl.nasa.gov/" + featured_image_url['src'])

https//www.jpl.nasa.gov//spaceimages/images/largesize/PIA18907_hires.jpg

In [86]:
#Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. 
#Save the tweet text for the weather report as a variable called mars_weather.

url_3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_3)

In [87]:
#Use BSoup to scrape the tweet
html = browser.html
soup_2 = BeautifulSoup(html, 'html.parser')

mars_weather = soup_2.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
print(mars_weather)

InSight sol 135 (2019-04-13) low -96.5ºC (-141.8ºF) high -16.6ºC (2.2ºF)
winds from the SW at 4.2 m/s (9.4 mph) gusting to 11.3 m/s (25.3 mph)
pressure at 7.30 hPapic.twitter.com/bRsLlzn4M0

In [66]:
#Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet 
#including Diameter, Mass, etc.
url_4 = 'https://space-facts.com/mars/'

In [88]:
#use pandas to read in the table
mars_table = pd.read_html(url_4)
mars_table
#Use Pandas to convert the data to a HTML table string

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [89]:
#Create a dataframe and rename
df = mars_table[0]
df.columns = ['Mars Planet Attribute', 'Attribute Value']
df.head()

  Mars Planet Attribute                Attribute Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [90]:
#remove index and make index Mars Planet Attribute
df.set_index('Mars Planet Attribute', inplace=True)
df.head()

                                     Attribute Value
Mars Planet Attribute
Equatorial Diameter:                        6,792 km
Polar Diameter:                             6,752 km
Mass:                  6.42 x 10^23 kg (10.7% Earth)
Moons:                           2 (Phobos & Deimos)
Orbit Distance:             227,943,824 km (1.52 AU)

In [91]:
#Convert to html, Use Pandas to convert the data to a HTML table string
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Attribute Value</th>\n    </tr>\n    <tr>\n      <th>Mars Planet Attribute</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [92]:
#get rid of new lines
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Attribute Value</th>    </tr>    <tr>      <th>Mars Planet Attribute</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [93]:
#Output table 
df.to_html('table.html')

In [94]:
#Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.e
url_5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_5)

In [95]:
#User splinter to find the images
html = browser.html
test = browser.find_by_css('div.description')

In [96]:
#Loop through images and titles
hemi_list = []
for i in range(len(test)):
    dict1 = {}
    browser.find_by_css('div.description')[i].find_by_css('h3').click()
    sample = browser.find_link_by_text('Sample').first
    dict1['image_url'] = sample['href']
    #print(sample['href'])                                           
    text = browser.find_by_css('h2.title').text
    dict1['title'] = text
    hemi_list.append(dict1)
    browser.back()

In [97]:
#Print
print(hemi_list)

[{'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg', 'title': 'Cerberus Hemisphere Enhanced'}, {'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg', 'title': 'Schiaparelli Hemisphere Enhanced'}, {'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg', 'title': 'Syrtis Major Hemisphere Enhanced'}, {'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg', 'title': 'Valles Marineris Hemisphere Enhanced'}]

In [98]:
#Make dictionaries to save all of the scrape data for use in Python scripts
mars_dictionary = {}
mars_dictionary['Headline']=headline
mars_dictionary['Title']=title
mars_dictionary['Featured_Image_url']=f"https//www.jpl.nasa.gov/" + featured_image_url['src']
mars_dictionary['Mars_weather']=mars_weather
mars_dictionary['Mars_table']=mars_table
mars_dictionary['Hemi_list']=hemi_list
print(mars_dictionary)

{'Headline': <div class="list_text"><div class="list_date">April 11, 2019</div><div class="content_title"><a href="/news/8427/curiosity-tastes-first-sample-in-clay-bearing-unit/" target="_self">Curiosity Tastes First Sample in 'Clay-Bearing Unit'</a></div><div class="article_teaser_body">This new region on Mars might reveal more about the role of water on Mount Sharp.</div></div>, 'Title': "Curiosity Tastes First Sample in 'Clay-Bearing Unit'", 'Featured_Image_url': 'https//www.jpl.nasa.gov//spaceimages/images/largesize/PIA18907_hires.jpg', 'Mars_weather': 'InSight sol 135 (2019-04-13) low -96.5ºC (-141.8ºF) high -16.6ºC (2.2ºF)\nwinds from the SW at 4.2 m/s (9.4 mph) gusting to 11.3 m/s (25.3 mph)\npressure at 7.30 hPapic.twitter.com/bRsLlzn4M0', 'Mars_table': [                                     Attribute Value
Mars Planet Attribute
Equatorial Diameter:                        6,792 km
Polar Diameter:                             6,752 km
Mass:                  6.42 x 10^23 kg (10.7% Earth)
Moons:                           2 (Phobos & Deimos)
Orbit Distance:             227,943,824 km (1.52 AU)
Orbit Period:                   687 days (1.9 years)
Surface Temperature:                   -153 to 20 °C
First Record:                      2nd millennium BC
Recorded By:                    Egyptian astronomers], 'Hemi_list': [{'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg', 'title': 'Cerberus Hemisphere Enhanced'}, {'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg', 'title': 'Schiaparelli Hemisphere Enhanced'}, {'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg', 'title': 'Syrtis Major Hemisphere Enhanced'}, {'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg', 'title': 'Valles Marineris Hemisphere Enhanced'}]}